{% extends 'base.html' %}

{% block title %}{{ itemid }} - GROGGS{% endblock %}

{% block content %}

{% for entry in entries  %}
<div class="entry rounded container col-md-10 offset-md-1">
        <div class="poster rounded">{{entry.grogname}} ({{entry.poster}})</div>
        <div class="content">{{entry.content}}</div>
</div>

{% endfor %}

{% endblock %}
