html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 4rem;
  color: #5a5a5a;
}

.bg-light {
  background-color: #d3ffed !important;
}

.entry {
        background-color: #d3ffed;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        margin-bottom: 1em;
}

.poster {
        background-color: #000;
        color: #d3ffed;
}

.entry > div {
        padding-left: 15px;
        padding-right: 15px;
}
